/*
* Most of this little bit of CSS is  borrowed from MediaWiki
* [http://www.mediawiki.org], which is licenced under the GPLv2
* and is copyrighted by MediaWiki. I release the rest (if you
* actually want to figure out what that is) under public domain.
*/

body {
font: 13px/1.5 sans-serif;
background-color: #f6f6f6;
margin-right: 3em;
}

a:hover {
text-decoration: underline;
}

a, a:active, a:focus {
unicode-bidi: embed;
white-space: nowrap;
outline: 0;
color: #0645AD;
text-decoration: none;
}


fieldset, blockquote {
display: block;
background-color: #f9f9f9;
border: 1px solid #aaa;
margin-top: 0.5em;
padding: 0.7em;
}

fieldset {
width: 250px;
}

input {
font-size: 1.2em;
margin: 0;
padding: 0;
vertical-align: top;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}

div#content {
margin-left: 10em;
margin-right: -3em;
padding: 1em;
border: 1px solid #a7d7f9;
border-right-width: 0;
margin-top: -1px;
background-color: white;
color: black;
direction: ltr;
}

div#footer {
margin-left:10em;
margin-right:10em;
text-align:center;
margin-bottom:2em;
min-width:180px;
font-size:120%;
}

ul#sidebar {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
list-style-type: none;
list-style-image: none;
padding: 0;
margin: 0;
}

div#subtitle {
margin-top:-1.5em;
margin-left:1em;
}

span#flattr{
position: absolute;
margin-top: .1em;
margin-left: .4em;
}

div#loading{
text-align:center;
}

div#header{
text-align:right;
}
