<!DOCTYPE html>
<html lang="en">
<head>
<title>wki.pe - A URL shortener for Wikipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="Description" content="A URL shortener for Wikipedia articles">
  <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="jquery-ui/ui/minified/jquery-ui.min.js"></script>
  <script type="text/javascript" src="jquery.cookie/jquery.cookie.js"></script>
  <link rel="stylesheet" href="css/mw.css" />
  <link rel="stylesheet" href="jquery-ui/themes/smoothness/jquery-ui.min.css">

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript">
//This is Flattr business
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>
</head>
<body>
  <div id="header" itemscope itemtype="http://schema.org/WPHeader">
    <select id="sel_lang" name="sel_lang">
    </select>
  </div>
  <div id="content">
    <p><a  href='#!/' type="local"><img src="img/wkipe-logo.png" alt="Wki.pe" style="width:250px"></a>
    <div id="subtitle"><em>A URL shortener for Wikipedia articles</em></div>
    </p>
    <div id="loading_main" class="loading"><img src="img/loading.gif" alt="just a sec..."></div>
    <div id="inner_page"></div>
  </div>
  <div id="mw-panel" itemscope itemtype="http://schema.org/WPSideBar">
    <p><span id="span_articlecount"></span></p>
    <p><ul class="sidebar" id="ul_topnormal"></ul></p>
    <p><ul class="sidebar" id="ul_topcustom"></ul></p>
    <p><ul class="sidebar" id="ul_recent"></ul></p>
  </div>
  <div id="footer" itemscope itemtype="http://schema.org/WPFooter">
    <a href='#!/' type="local">Home</a> | <a href='#!/faq' type="local">FAQ</a> | <a href='#!/contact' type="local">Contact</a> | <a href='#!/legal' type="local">Legal</a> | 
    <span id='flattr'><a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://wki.pe"></a></span>
</div>
</body>
</html>
